# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd

.python-version
venv/
env/
.venv/
serviceaccounts/
infra/

# Ignore logs and local development files
logs/
*.log
.env
.DS_Store

# Ignore Git files
.git/
.gitignore

# Ignore IDE-specific files
.vscode/
.idea/
